@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,700;1,400&display=swap');

*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html{
   font-family: 'Nunito', sans-serif;
}

header{
   background-color: #0084FD;
   padding: 10px 0;
   margin-bottom: 45px;
   color: white;
}

button{
   font-family: 'Nunito', sans-serif;
}


/* UTILITY ------------------------------------------------------------------------------ */


.section-container{
   width: 85%;
   margin: 0 auto;  
}

.container-85{
   width: 85%;
   margin: 0 auto;
}

.text-align{
   text-align: center;
}

.flex{
   display: flex;
}

.flex-col{
   display: flex;
   flex-direction: column;
}

.space-bet{
   justify-content: space-between;
}

.justify-center{
   justify-content: center;
}

.align-center{
   align-items: center;
}

.wrap{
   flex-wrap: wrap;
}


/* NAV -------------------------------------------------------------------------------- */


.fa-bars{
   color: white;
   font-size: 1.5rem;
}

.nav-bar{
   display: none;
}

.nav-bar button{
   border: none;
   padding: 7px 10px;
   border-radius: 20px;
}


/* SECTION 1 --------------------------------------------------------------------------- */


.card{
   background-color: #B5DDFF;
   border-radius: 20px;
   padding: 30px 30px 0 30px;
   margin-bottom: 30px;
   font-size: 1.3rem;
}

.card.text-align{
   padding-bottom: 30px;
}

.card h3{
   margin-bottom: 30px;
   color: #168FFD;
}

.card p{
   line-height: 2rem;
}

.card button{
   border: none;
   border-radius: 30px;
   margin: 20px 0;
   padding: 15px 0;
   width: 55%;
   background-color: #0084FD;
   color: white;
   font-size: 1.2rem;
}

.first-card img{
   width: 100%;
}
 
.card > i{
   color: #168FFD;
   font-size: 6rem;
   margin-bottom: 2rem;
}


/* SECTION 2 ------------------------------------------------------------------------- */


.section-2{
   background-color: #9792E4;
   padding: 80px 0;
   font-size: 1.3rem;
   line-height: 2rem;
}

.section-2 img{
   width: 100%;
}

.planning-1{
   color: white;
}

.planning-2{
   background-color: white;
   border-radius: 30px;
   padding: 20px;
   margin-top: 40px;
}

.planning-1 h3{
   margin: 50px 0;
   font-size: 2rem;
}

.planning-2 h3{
   margin: 20px 0;
}

.arrow-down{
   border: none;
   background-color: #9792E4;
   padding: 17px 20px 17px 20px;
   margin-top: 20px;
   border-radius: 100%;
}


/* SECTION 3 ========================================================================= */

.testimonials{
   width: 85%;
   margin: 0 auto;  
   font-size: 1.3rem;
   line-height: 2rem;
}

.section-3{
   padding: 50px 0;
}

.testimonials > h3{
   margin-bottom: 30px;
}

.testimonials > h2{
   color: #9792E4;
   font-size: 2rem;
   margin-bottom: 30px;
}

.testimonials > p{
   margin-bottom: 30px;
}

.testimonial-card{
   background-color: #9792E4;
   color: white;
   padding: 20px;
   border-radius: 40px;
   margin-bottom: 30px;
}

.testimonial-card .fa-quote-left, .fa-quote-right{
   margin: 0 5px;
   color: whitesmoke
}

.img-container{
   padding: 0 0px;
}

.image{
   width: 100%;
   border-radius: 50%;
}

.testimonial-card h3{
   margin-top: 20px;
}

/* MEDIA -------------------------------------------------------------------------- */


@media (min-width: 768px){
   .first-card{
      flex-basis: 65.9%;
   }

   .card{
      padding: 30px 20px 0 20px;
   }

   .container-85{
      width: 95%;
   }

   .section-container{
      width: 95%;
      margin: 0 auto; 
   }

   .card{
      width: calc(95%/3);
   }

   .card img{
      width: 50%;
   }

   .planning-1 h3{
      font-size: 2.6rem;
      margin-top: 100px;
      line-height: 3rem;
   }


}

@media (min-width: 1024px){

   .container-85{
      width: 70%;
      margin: 0 auto;
   }

   .fa-bars{
      display: none;
   }

   .first-card{
      display: flex;
      padding: 30px 60px 0 20px;
   }

   .section-container{
      width: 70%;
      margin: 0 auto;
      display: flex;
      justify-content: space-between; 
      position: relative;
   }

   .img{
      flex-basis: 40%;
      align-self: flex-end;
      justify-self: flex-end ;
   }

   .first-card img{
      width: 100%;
      flex-basis: 40%;
   }

   .nav-bar{
      display: flex;
      flex-basis: 60%;
   } 

   .text{
      flex-basis: 60%;
   }

   .planning-1{
      flex-basis: 50%;
   }

   .planning-2{
      flex-basis: 40%;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      margin-top: 25%;
   }

   .planning-2 img{
      width: 80%;
   }

   
}